<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>学生列表</h1>
<table border="1">

    <tr>

        <td>编号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>生日</td>
        <td colspan="2">操作</td>
    </tr>

    <tr th:each="user:${userList}">

        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${#dates.format(user.birthday, 'yyyy-MM-dd')}"></td>
        <td><a th:href="|deleteUserById?userId=${user.id}|">删除</a></td>
        <td><a th:href="|toUpdateUser?userId=${user.id}|">编辑</a></td>
    </tr>
    <tr><td colspan="6"><a href="toAadUser">添加</a> </td></tr>
</table>
</body>
</html>